body {
  font-family: 'Red Hat Display', sans-serif;
}

.App {
  text-align: center;
  padding: 20px;
  background-color: #f0f0f0;
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.logo {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 20px;
}

.title-container {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.title-container h1 {
  margin: 0;
  font-size: 24px;
}

.title-container span {
  font-size: 14px;
  color: #666;
}

.barista-container {
  margin-bottom: 20px;
  border: 1px solid #c7c7c7;
  padding: 20px;
  border-radius: 8px;
}

.availability-grid {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.day-column {
  display: flex;
  flex-direction: column;
  margin: 0 5px;
}

.shift-slot {
  padding: 5px;
  margin: 2px;
  cursor: pointer;
  border: 1px solid #c7c7c7;
  border-radius: 4px;
  font-size: 0.8em;
}

.shift-slot.selected {
  background-color: #4CAF50;
  color: white;
}

input, textarea, button {
  margin: 10px;
  padding: 5px;
}

textarea {
  width: 80%;
  height: 100px;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

h3, h4 {
  margin-bottom: 5px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  max-width: 80%;
  max-height: 80%;
  overflow-y: auto;
}

.modal-content h2 {
  margin-top: 0;
}

.modal-content pre {
  white-space: pre-wrap;
  word-wrap: break-word;
  text-align: left;
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 4px;
}

.modal-content button {
  margin-top: 10px;
}

.barista-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.remove-button {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

.remove-button:hover {
  background-color: #d32f2f;
}

.add-removed-barista {
  background-color: #2196F3;
  color: white;
  border: none;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
  border-radius: 4px;
}

.add-removed-barista:hover {
  background-color: #1976D2;
}

.removed-baristas {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
}
